#Development database
DEV_DB_USERNAME=YOUR_USERNAME
DEV_DB_PASSWORD=YOUR_PASSWORD
DEV_DB_NAME=DATABASE_NAME
DEV_DB_HOSTNAME=YOUR_HOSTNAME #ex: localhost
DEV_DB_PORT=DATABASE_PORT_NUMBER #ex: 5432

#Test database
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_HOSTNAME=
TEST_DB_PORT=

#Production database
PROD_DB_USERNAME=
PROD_DB_PASSWORD=
PROD_DB_NAME=
PROD_DB_HOSTNAME=
PROD_DB_PORT=

#General
APP_NAME=Barefoot nomad
NODE_ENV=# development | production | test
PORT=
SECRET=
JWT_KEY=YOUR_SECRET_KEY_GOES_HERE
SIGN_UP_TOKEN_EXPIRES_IN=VALUE #Eg 1h, 24h, 30d
SENDGRID_API_KEY=# the apiKey from sendgrid
BAREFOOT_GMAIL_ACCOUNT=
APP_URL=your_app_link

#Facebook keys
FACEBOOK_APP_ID=YOUR_FACEBOOK_APP_ID
FACEBOOK_APP_SECRET=YOUR_FACEBOOK_APP_SECRET
FACEBOOK_APP_CALLBACK_URL=http://localhost:3000/api/auth/facebook/callback

#Google keys
GOOGLE_APP_ID=YOUR_GOOGLE_APP_ID
GOOGLE_APP_SECRET=YOUR_GOOGLE_APP_SECRET
GOOGLE_APP_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
